<launch>
    <arg name="world_name" default="$(find fuae_gazebo)/worlds/MAP4.world" />
    <arg name="init_x" value="-0.0" />
    <arg name="init_y" value="-0.0" />
    <arg name="init_z" value="1.0" />
    <arg name="odom_topic" value="/ardrone/ground_truth/odometry" />

    <include file="$(find exploration_manager)/launch/env_simulator.xml">
        <arg name="world_name" value="$(arg world_name)"  />
    </include>

    <node pkg="gazebo_map_generator" name="random_obstacle" type="random_obstacle" output="log" />

    <!-- <include file="$(find exploration_manager)/launch/uav_simulator.xml">
        <arg name="odometry_topic" value="$(arg odom_topic)" />
        <arg name="init_x" value="$(arg init_x)" />
        <arg name="init_y" value="$(arg init_y)" />
        <arg name="init_z" value="$(arg init_z)" />
    </include> -->

</launch>